
<h1 class="food-wiki-text">  
  Food Wiki  
</h1> 

<div class="search-input">
  <form (submit)="selectedResult(currentPattern)" action="#">
    <input type="text" class="input"  placeholder="Type a food to search..."
    maxlength="20" (keyup)='searchQueryOnDataSource($event)'>
  </form>

  <div class="autocomplete">
    <ul #filterList class="sub-list" *ngIf="nameList">
      <li class="autocomplete-li" *ngFor="let name of nameList" (click)="selectedResult(name)">
        {{name}}
      </li>
    </ul>
  </div>
</div>
